.foto{
    background-image: url(img/thumb-1920-771190.jpg); 
    background-size: cover;
    background-position:center -200px;
}


.kanser{
    text-align: center;
    border-radius: 50px;
}

.paragraf{
    
    margin-top:100px;
}
.jumbotron{

    text-align: center;
    padding: 100px;
}
.asagi{
    margin-top: 15%;
}
.navbar{
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.navbar-brand{
    background-color: rgb(143, 11, 11); 
    border-radius: 20px;
    width: 250px;
    
    text-align: center;
    font-family:"Poly", serif;
    padding: 5px;
    margin: 10px;
    border: none;
}
.navbar-brand:hover {
    background-color: black;
    color: #fff;
    font-family:"Poly", serif;
}

.cars-bg{

    margin-top: 100px;
    background-color: black;
}
.jumbotron{
    color:#ffd6d6;
}