.nav-baslik{
    color: crimson;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    
    
}
.navbar-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
    text-align: center;
    height: 40px;
    background-color:antiquewhite;
    

}
.paragraf{
    text-align: center;
}
a {
    text-decoration: none;
}
.nav-line{
    list-style:none;
    
}
.navbar-items{
    display: inline;
    margin: 10px;
    position: relative;
    color:darkred;

}
.car-models{
    text-align: center;
}
footer{

    text-align: center;
}

/* Arabalar html css Start */

.baslik1-arabalar{
    text-align: center;
    color:crimson;
}
img {
    width: 720px;
    
}
.car-img{
    text-align: center;
}



/* Arabalar html css End */