.nav-baslik{
    color: crimson;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    
    
}
.navbar-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: brown;
    text-align: center;
    background-color: pink;

}
.paragraf{
    text-align: center;
}
a {
    text-decoration: none;
}
.nav-line{
    list-style:none;
}
.navbar-items{
    display: inline;
    margin: 10px;
    position: relative;
}
.car-models{
    text-align: center;
}
footer{

    text-align: center;
}