.logo-img{
    text-align: center;
    margin-top: 10%;
}
.gray-field{
    background-color: lightgray;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
}

.gray-text{
    text-align: center;
    padding: 5px;
    
}



.container-green{
    width: 91%;
    text-align: center;
    padding: 2px;
    margin-left: 77px;

}

.green-box1{
    
    
    width: 36%;
    height: 80px;
    background: #7EE5DA;
    float: left;
    margin-right: 4px;
    padding-top: 10px;
}

.green-box2{
    width: 28%;
    height: 80px;
    background: #7EE5DA;
    float: left;
    margin-right: 4px;
    padding-top: 10px;
}

.green-box3{
    width: 35%;
    height: 80px;
    background: #7EE5DA;
    float: left;
    margin-right: 2px;
    padding-top: 10px;
    
}
.clear{
    clear: both;
    text-align: center;
}



